:root {
  --color-main: #FDC886;
  --color-sub: #5A4FCF;
  --color-half-main: rgba(253, 200, 134, 0.2);
  --color-half-sub: rgba(90, 79, 207, 0.1);
  --color-primary-dark: #232631;
  --color-secondary-dark: #656565;
}

body {
  background-color: #FAFAFA;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-Regular.ttf");
}

body {
  font-family: Poppins;
  background-color: #FAFAFA;
}

header.index-header {
  padding: 60px;
}
/* Custome Navbar Menu */
.custom-menu-bar ul li a {
  color: #232631;
  font-weight: bold;
}
.custom-menu-bar ul li.active a{
  position: relative;
}
.custom-menu-bar ul li.active a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--color-sub);
}
/* Logo */
div.logo {
  font-family: Nunito;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo .logo-img {
  height: 34px;
  width: 34px;
}
/* Custom Arrow */
.custom-arrow {
  padding-right: 24px!important;
  position: relative;
}
.custom-arrow::after {
  content: "";
  position: absolute;
  right: 0;
  height: 24px;
  width: 24px;
  border: unset;
  margin: 0;
  background: url("../images/icons/path.svg") no-repeat transparent center center;
}
.custom-arrow.down::after {
  transform: rotate(90deg);
}
/* Custom Search */
.custom-search-input {
  position: relative;
  color: #858585;
  border: unset!important;
  font-size: 16px;
  font-weight: bold;
}
.custom-search-input input {
  padding: 16px 28px;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  padding-left: 62px!important;
  border-radius: 12px;
  height: 56px;
  width: 322px;
  border: unset!important;
}
.custom-search-input::before {
  content: "";
  position: absolute;
  left: 28px;
  top: 16px;
  height: 24px;
  width: 24px;
  border: unset;
  margin: 0;
  background: url("../images/icons/search.svg") no-repeat transparent center center;
}
.custom-search-button {
  padding: 16px 28px;
  border-radius: 12px;
  color: var(--color-sub);
  background-color: var(--color-half-sub);
  border: unset;
  font-weight: bold;
}
.custom-search-input input:focus-visible,
.custom-search-button:focus {
  outline: unset;
  border: solid 1px #858585!important;
}
/* Humburger Menu */
.hamburger-menu:focus-visible,
.hamburger-menu:focus {
  outline: unset!important;
  border: unset!important;
  box-shadow: unset!important;
}
.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  width: 100%;
  height: 5.5px;
  background: var(--color-sub);
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}
.hamburger-menu:not(.collapsed) .bar-top {
  transform: rotate(45deg) translateY(-5px) translateX(4px);
}
.hamburger-menu:not(.collapsed) .bar-middle {
  transform:translateX(1rem);
  opacity: 0;
}
.hamburger-menu:not(.collapsed) .bar-bottom {
  transform: rotate(-45deg) translateY(4px) translateX(5px);
}

/* GLOBAL SECTION STYLE START */
section {
  margin-bottom: 120px;
  margin-left: 60px;
  margin-right: 60px;
}
/* GLOBAL SECTION STYLE END */

/* SPECIAL BENEFIT SECTION START */
.special-benefit .title {
  margin-bottom: 41px;
}

.special-benefit .title .d-flex {
  gap: 6px;
}

.special-benefit .title h5 {
  color: var(--color-sub);
  font-size: 16px;
  margin-bottom: 6px;
}

.special-benefit .title h2 {
  color: var(--color-primary-dark);
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

.special-benefit .cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.special-benefit .cards .card {
  justify-content: space-between;
  padding: 0;
  align-items: center;
  border-radius: 24px;
  width: 315px;
  height: 347px;
  background-color: #fff;
  border: none;
}

.special-benefit .cards .card .card-icon {
  margin-top: 24px;
  background-color: var(--color-half-main);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.special-benefit .cards .card .card-text h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.special-benefit .cards .card .card-text span {
  font-size: 16px;
  color: var(--color-secondary-dark);
}

.special-benefit .cards .card .card-button {
  display: flex;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 12px 12px 24px 24px;
  cursor: pointer;
}

.special-benefit .cards .card .card-button.active {
  background-color: var(--color-main);
}
/* SPECIAL BENEFIT SECTION END */

/* TOP FEATURED RESTAURANT START */
.top-featured .title {
  margin-bottom: 20px;
}

.top-featured .title .d-flex {
  gap: 6px;
}

.top-featured .title h5 {
  color: var(--color-sub);
  font-size: 16px;
  margin-bottom: 6px;
}

.top-featured .title h2 {
  color: var(--color-primary-dark);
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

.top-featured .description {
  margin-bottom: 56px;
  color: var(--color-secondary-dark);
}

.top-featured .link {
  width: 238px;
  height: 56px;
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.top-featured .card-images {
  margin-left: 85px;
  display: flex;
  gap: 20px;
}

.top-featured .card-image {
  width: 214px;
  height: 475px;
  border-radius: 24px;
  position: relative;
}

.top-featured .card-image:nth-child(1) {
  background-image: url("../images/image_3.png");
  background-size: cover;
}

.top-featured .card-image:nth-child(2) {
  background-image: url("../images/image_6.png");
  background-size: cover;
}

.top-featured .card-image:nth-child(3) {
  background-image: url("../images/image_5.png");
  background-size: cover;
}

.top-featured .card-image.active {
  width: 400px;
}

.top-featured .card-image .image-description {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 320px;
  width: 352px;
  height: 131px;
  border-radius: 24px;
  padding: 24px;
  background-color: #FFF;
}

.top-featured .card-image .image-description .row {
  gap: 8px;
}

.top-featured .card-image .image-description .row .col-8 {
  display: flex;
  flex-direction: column;
  width: 261px;
  gap: 4px;
}

.top-featured .card-image .image-description .row .restaurant-rating {
  display: flex;
  gap: 4px;
}

.top-featured .card-image .image-description .row .restaurant-rating .rating-point {
  display: flex;
  align-items: center;
  gap: 2px;
}

.top-featured .card-image .image-description .row .restaurant-rating .rating-point img {
  width: 16px;
  height: 16px;
}

.top-featured .card-image .image-description .row .restaurant-rating .rating-point span {
  font-size: 16px;
  line-height: 24px;
  color: #FFB800;
  font-weight: 600;
}

.top-featured .card-image .image-description .row .restaurant-rating .rating-people span {
  font-size: 16px;
  color: var(--color-secondary-dark);
}

.top-featured .card-image .image-description .row .restaurant-name span {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.top-featured .card-image .image-description .row .restaurant-location {
  display: flex;
  gap: 6px;
  align-items: center;
}

.top-featured .card-image .image-description .row .restaurant-location span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-secondary-dark);
}

.top-featured .card-image .image-description .row .restaurant-link {
  width: 36px;
  height: 36px;
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}
/* TOP FEATURED RESTAURANT END */
