:root {
  --color-main: #fdc886;
  --color-sub: #5a4fcf;
  --color-half-main: rgba(253, 200, 134, 0.2);
  --color-half-sub: rgba(90, 79, 207, 0.1);
  --color-primary-dark: #232631;
  --color-secondary-dark: #656565;
}

body {
  background-color: #fafafa;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-Regular.ttf");
}

body {
  font-family: Poppins;
  background-color: #fafafa;
}

header.index-header {
  padding-top: 60px;
  margin-bottom: 60px;
}
/* Custome Navbar Menu */
.custom-menu-bar ul li a {
  color: #232631;
  font-weight: bold;
}
.custom-menu-bar ul li.active a {
  position: relative;
}
.custom-menu-bar ul li.active a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--color-sub);
}
/* Logo */
div.logo {
  font-family: Nunito;
  font-size: 28px;
  font-weight: bold;
}
.logo .logo-img {
  height: 34px;
  width: 34px;
}
/* Custom Arrow */
.custom-arrow {
  padding-right: 24px !important;
  position: relative;
}
.custom-arrow::after {
  content: "";
  position: absolute;
  right: 0;
  height: 24px;
  width: 24px;
  border: unset;
  margin: 0;
  background: url("../images/icons/path.svg") no-repeat transparent center center;
}
.custom-arrow.down::after {
  transform: rotate(90deg);
}
.custom-arrow.main-color::after {
  background: var(--color-main);
  -webkit-mask-image: url("../images/icons/path.svg");
  mask-image: url("../images/icons/path.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
/* Custom Search */
.custom-search-input {
  position: relative;
  color: #858585;
  border: unset !important;
  font-size: 16px;
  font-weight: bold;
}
.custom-search-input input {
  padding: 16px 28px;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  padding-left: 62px !important;
  border-radius: 12px;
  height: 56px;
  width: 322px;
  border: unset !important;
}
.custom-search-input::before {
  content: "";
  position: absolute;
  left: 28px;
  top: 16px;
  height: 24px;
  width: 24px;
  border: unset;
  margin: 0;
  background: url("../images/icons/search.svg") no-repeat transparent center center;
}
.custom-search-button {
  padding: 16px 28px;
  border-radius: 12px;
  color: var(--color-sub);
  background-color: var(--color-half-sub);
  border: unset;
  font-weight: bold;
}
.custom-search-input input:focus-visible,
.custom-search-button:focus {
  outline: unset;
  border: solid 1px #858585 !important;
}
/* Humburger Menu */
.hamburger-menu:focus-visible,
.hamburger-menu:focus {
  outline: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}
.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  width: 100%;
  height: 5.5px;
  background: var(--color-sub);
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}
.hamburger-menu:not(.collapsed) .bar-top {
  transform: rotate(45deg) translateY(-5px) translateX(4px);
}
.hamburger-menu:not(.collapsed) .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
.hamburger-menu:not(.collapsed) .bar-bottom {
  transform: rotate(-45deg) translateY(4px) translateX(5px);
}

/* GLOBAL SECTION STYLE START */
section,
header {
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: calc(1440px - 120px);
}

section.restaurants-carousel > div {
  width: calc(100% + 60px);
}

.restaurant-list {
  height: 564px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}

.restaurant-list img {
  top: 0;
  left: 0;
}

.owl-item:not(.active) .restaurant-list {
  margin-right: 80px;
}

.owl-item.active .restaurant-list {
  margin-left: 80px;
}

.owl-item.active .restaurant-item .image-description {
  display: block;
  z-index: 1;
}

.restaurant-item .image-description {
  display: none;
}

.restaurant-item .image-description {
  width: 390px;
  height: 297px;
  border-radius: 24px;
  padding: 24px;
  background-color: #fff;
  bottom: calc(50% - calc(297px / 2));
}

.restaurant-item .image-description .info {
  padding-left: 30px !important;
  position: relative;
}
.restaurant-item .image-description .info::after {
  content: "";
  position: absolute;
  left: 0;
  height: 24px;
  width: 24px;
  border: unset;
  margin: 0;
  background: url("../images/icons/info.svg") no-repeat transparent center center;
}

.restaurant-item .image-description .row {
  gap: 8px;
}

.restaurant-item .image-description .row .col-8 {
  display: flex;
  flex-direction: column;
  width: 261px;
  gap: 4px;
}

.restaurant-item .image-description .row .restaurant-rating {
  display: flex;
  gap: 4px;
}

.restaurant-item .image-description .row .restaurant-rating .rating-point {
  display: flex;
  align-items: center;
  gap: 2px;
}

.restaurant-item .image-description .row .restaurant-rating .rating-point img {
  width: 16px;
  height: 16px;
}

.restaurant-item .image-description .row .restaurant-rating .rating-point span {
  font-size: 16px;
  line-height: 24px;
  color: #ffb800;
  font-weight: 600;
}

.restaurant-item .image-description .row .restaurant-rating .rating-people span {
  font-size: 16px;
  color: var(--color-secondary-dark);
}

.restaurant-item .image-description .row .restaurant-name span {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.restaurant-item .image-description .row .restaurant-location {
  display: flex;
  gap: 6px;
  align-items: center;
}

.restaurant-item .image-description .row .restaurant-location img {
  height: 24px;
  width: 24px;
}

.restaurant-item .image-description .row .restaurant-location span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-secondary-dark);
}

.restaurant-item .image-description .row .link {
  width: 238px;
  height: 56px;
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: bold;
}

/* GLOBAL SECTION STYLE END */

/* SPECIAL BENEFIT SECTION START */
.special-benefit .title {
  margin-bottom: 41px;
}

.special-benefit .title .d-flex {
  gap: 6px;
}

.special-benefit .title h5 {
  color: var(--color-sub);
  font-size: 16px;
  margin-bottom: 6px;
}

.special-benefit .title h2 {
  color: var(--color-primary-dark);
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

.special-benefit .cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.special-benefit .cards .card {
  justify-content: space-between;
  padding: 0;
  align-items: center;
  border-radius: 24px;
  width: 315px;
  height: 347px;
  background-color: #fff;
  border: none;
}

.special-benefit .cards .card .card-icon {
  margin-top: 24px;
  background-color: var(--color-half-main);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.special-benefit .cards .card .card-text h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.special-benefit .cards .card .card-text span {
  font-size: 16px;
  color: var(--color-secondary-dark);
}

.special-benefit .cards .card .card-button {
  display: flex;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 12px 12px 24px 24px;
  cursor: pointer;
}

.special-benefit .cards .card .card-button.active {
  background-color: var(--color-main);
}
/* SPECIAL BENEFIT SECTION END */

/* TOP FEATURED RESTAURANT START */
.top-featured .title {
  margin-bottom: 20px;
}

.top-featured .title .d-flex {
  gap: 6px;
}

.top-featured .title h5 {
  color: var(--color-sub);
  font-size: 16px;
  margin-bottom: 6px;
}

.top-featured .title h2 {
  color: var(--color-primary-dark);
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

.top-featured .description {
  margin-bottom: 56px;
  color: var(--color-secondary-dark);
}

.top-featured .link {
  width: 238px;
  height: 56px;
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.top-featured .card-images {
  margin-left: 85px;
  display: flex;
  gap: 20px;
}

.top-featured .card-image {
  width: 214px;
  height: 475px;
  border-radius: 24px;
  position: relative;
}

.top-featured .card-image:nth-child(1) {
  background-image: url("../images/image_3.png");
  background-size: cover;
}

.top-featured .card-image:nth-child(2) {
  background-image: url("../images/image_6.png");
  background-size: cover;
}

.top-featured .card-image:nth-child(3) {
  background-image: url("../images/image_5.png");
  background-size: cover;
}

.top-featured .card-image.active {
  width: 400px;
}

.top-featured .card-image .image-description {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 320px;
  width: 352px;
  height: 131px;
  border-radius: 24px;
  padding: 24px;
  background-color: #fff;
}

.top-featured .card-image .image-description .row {
  gap: 8px;
}

.top-featured .card-image .image-description .row .col-8 {
  display: flex;
  flex-direction: column;
  width: 261px;
  gap: 4px;
}

.top-featured .card-image .image-description .row .restaurant-rating {
  display: flex;
  gap: 4px;
}

.top-featured .card-image .image-description .row .restaurant-rating .rating-point {
  display: flex;
  align-items: center;
  gap: 2px;
}

.top-featured .card-image .image-description .row .restaurant-rating .rating-point img {
  width: 16px;
  height: 16px;
}

.top-featured .card-image .image-description .row .restaurant-rating .rating-point span {
  font-size: 16px;
  line-height: 24px;
  color: #ffb800;
  font-weight: 600;
}

.top-featured .card-image .image-description .row .restaurant-rating .rating-people span {
  font-size: 16px;
  color: var(--color-secondary-dark);
}

.top-featured .card-image .image-description .row .restaurant-name span {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.top-featured .card-image .image-description .row .restaurant-location {
  display: flex;
  gap: 6px;
  align-items: center;
}

.top-featured .card-image .image-description .row .restaurant-location span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-secondary-dark);
}

.top-featured .card-image .image-description .row .restaurant-link {
  width: 36px;
  height: 36px;
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}
/* TOP FEATURED RESTAURANT END */

/* NEAREST RESTAURANT START */
.nearest-restaurant .row:first-child {
  position: relative;
}
.nearest-restaurant .title h5 {
  color: var(--color-sub);
  font-size: 16px;
  margin-bottom: 6px;
}

.nearest-restaurant .title h2 {
  color: var(--color-primary-dark);
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

.nearest-restaurant .select-location {
  width: 252px;
  height: 64px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  position: absolute;
  right: 0;
}

.nearest-restaurant .restaurant-images {
  gap: 20px;
  margin-top: 34px;
  margin-bottom: 56px;
}

.nearest-restaurant .restaurant-image {
  width: 427px;
  height: 415px;
  border-radius: 24px;
}

.nearest-restaurant .restaurant-image .row:first-child {
  /* margin-left: 24px;
  margin-right: 24px; */
  margin: 0 auto;
  margin-top: 248px;
  width: 379px;
  height: 131px;
  border-radius: 24px;
  padding: 24px;
  background-color: #fff;
}

.nearest-restaurant .restaurant-image:nth-child(1) {
  background-image: url("../images/image_10.png");
  background-size: cover;
}

.nearest-restaurant .restaurant-image:nth-child(2) {
  background-image: url("../images/image_7.png");
  background-size: cover;
}

.nearest-restaurant .restaurant-image:nth-child(3) {
  background-image: url("../images/image_8.png");
  background-size: cover;
}

.nearest-restaurant .restaurant-image .restaurant-brief {
  display: flex;
  flex-direction: column;
  width: 261px;
  gap: 4px;
}

.nearest-restaurant .restaurant-image .restaurant-brief .restaurant-rating {
  display: flex;
  gap: 4px;
}

.nearest-restaurant .restaurant-image .restaurant-brief .restaurant-rating .rating-point {
  display: flex;
  align-items: center;
  gap: 2px;
}

.nearest-restaurant .restaurant-image .restaurant-brief .restaurant-rating .rating-point img {
  width: 16px;
  height: 16px;
}

.nearest-restaurant .restaurant-image .restaurant-brief .restaurant-rating .rating-point span {
  font-size: 16px;
  line-height: 24px;
  color: #ffb800;
  font-weight: 600;
}

.nearest-restaurant .restaurant-image .restaurant-brief .restaurant-rating .rating-people span {
  font-size: 16px;
  color: var(--color-secondary-dark);
}

.nearest-restaurant .restaurant-image .restaurant-brief .restaurant-name span {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.nearest-restaurant .restaurant-image .restaurant-brief .restaurant-location {
  display: flex;
  gap: 6px;
  align-items: center;
}

.nearest-restaurant .restaurant-image .restaurant-brief .restaurant-location span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-secondary-dark);
}

.nearest-restaurant .restaurant-image .restaurant-link {
  width: 36px;
  height: 36px;
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}

.nearest-restaurant .restaurant-all-link {
  background-color: var(--color-main);
  width: 238px;
  padding: 16px 28px;
  border-radius: 12px;
}

.nearest-restaurant .restaurant-all-link span {
  font-weight: 600;
}
/* NEAREST RESTAURANT END */

/* CHEF SUMMARY START */
.chef-summary .chef-profile {
  gap: 64px;
}

.chef-summary .chef-profile .picture {
  position: relative;
  padding: 0 60px;
}

.chef-summary .chef-profile .picture img.chef-picture {
  width: 560px;
  height: 848px;
  border-radius: 24px;
}

.chef-summary .chef-profile .picture .chef-experience {
  width: 179px;
  height: 203px;
  background-color: #fff;
  position: absolute;
  top: 40px;
  right: 0;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chef-summary .chef-profile .picture .chef-experience .experience-icon {
  background-color: var(--color-half-main);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 12px;
}

.chef-summary .chef-profile .picture .chef-experience .experience-icon img {
  width: 50px;
  height: 50px;
}

.chef-summary .chef-profile .picture .chef-experience .experience-text h5 {
  text-align: center;
}

.chef-summary .chef-profile .picture .chef-experience .experience-text h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin: 0;
}

.chef-summary .chef-profile .picture .chef-experience .experience-text h6 {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.chef-summary .chef-profile .picture .chef-work-place {
  background-color: #fff;
  width: 330px;
  height: 180px;
  border-radius: 24px;
  padding: 24px;
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.chef-summary .chef-profile .picture .chef-work-place img {
  border-radius: 12px;
}

.chef-summary .chef-profile .picture .chef-work-place .brief {
  height: 103px;
}

.chef-summary .chef-profile .picture .chef-work-place .brief h6 {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 4px;
}

.chef-summary .chef-profile .picture .chef-work-place .brief h5 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 24px;
}

.chef-summary .chef-profile .picture .chef-work-place .brief span.link {
  color: var(--color-main);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 24px;
}

.chef-summary .top-chefs .title {
  margin-bottom: 32px;
}

.chef-summary .top-chefs .title h5 {
  font-size: 32px;
  font-weight: 600;
  line-height: 27px;
  margin: 0;
}

.chef-summary .top-chefs .title h6 {
  color: var(--color-sub);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  margin-bottom: 6px;
}

.chef-summary .top-chefs .chef-cards {
  gap: 20px;
}

.chef-summary .top-chefs .chef-cards .chef-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 596px;
  height: 141px;
  border-radius: 24px;
  padding: 24px;
  transition: 0.3s;
}

.chef-summary .top-chefs .chef-cards .chef-card .text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chef-summary .top-chefs .chef-cards .chef-card .text .specialist {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-secondary-dark);
}

.chef-summary .top-chefs .chef-cards .chef-card .text .name {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: var(--color-primary-dark);
}

.chef-summary .top-chefs .chef-cards .chef-card .text .location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.chef-summary .top-chefs .chef-cards .chef-card .text .location span {
  color: var(--color-secondary-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.chef-summary .top-chefs .chef-cards .chef-card .link {
  color: var(--color-main);
  cursor: pointer;
  display: none;
  transition: 0.3s;
}

.chef-summary .top-chefs .chef-cards .chef-card:hover {
  background-color: #fff;
  transition: 0.3s;
}

.chef-summary .top-chefs .chef-cards .chef-card:hover .link {
  display: flex;
  transition: 0.3s;
}

.chef-summary .top-chefs .show-all-chefs-link .link-btn {
  background-color: var(--color-main);
  width: 186px;
  height: 56px;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* CHEF SUMMARY END */
