:root {
  --color-main: #FDC886;
  --color-sub: #5A4FCF;
  --color-half-main: rgba(253, 200, 134, 0.2);
  --color-half-sub: rgba(90, 79, 207, 0.1);
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-Regular.ttf");
}

body {
  font-family: Poppins;
  background-color: #FAFAFA;
}

header.index-header {
  padding: 60px;
}
/* Custome Navbar Menu */
.custom-menu-bar ul li a {
  color: #232631;
  font-weight: bold;
}
.custom-menu-bar ul li.active a{
  position: relative;
}
.custom-menu-bar ul li.active a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--color-sub);
}
/* Logo */
div.logo {
  font-family: Nunito;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo .logo-img {
  height: 34px;
  width: 34px;
}
/* Custom Arrow */
.custom-arrow {
  padding-right: 24px!important;
  position: relative;
}
.custom-arrow::after {
  content: "";
  position: absolute;
  right: 0;
  height: 24px;
  width: 24px;
  border: unset;
  margin: 0;
  background: url("../images/icons/path.svg") no-repeat transparent center center;
}
.custom-arrow.down::after {
  transform: rotate(90deg);
}
/* Custom Search */
.custom-search-input {
  position: relative;
  color: #858585;
  border: unset!important;
  font-size: 16px;
  font-weight: bold;
}
.custom-search-input input {
  padding: 16px 28px;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  padding-left: 62px!important;
  border-radius: 12px;
  height: 56px;
  width: 322px;
  border: unset!important;
}
.custom-search-input::before {
  content: "";
  position: absolute;
  left: 28px;
  top: 16px;
  height: 24px;
  width: 24px;
  border: unset;
  margin: 0;
  background: url("../images/icons/search.svg") no-repeat transparent center center;
}
.custom-search-button {
  padding: 16px 28px;
  border-radius: 12px;
  color: var(--color-sub);
  background-color: var(--color-half-sub);
  border: unset;
  font-weight: bold;
}
.custom-search-input input:focus-visible,
.custom-search-button:focus {
  outline: unset;
  border: solid 1px #858585!important;
}
/* Humburger Menu */
.hamburger-menu:focus-visible,
.hamburger-menu:focus {
  outline: unset!important;
  border: unset!important;
  box-shadow: unset!important;
}
.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  width: 100%;
  height: 5.5px;
  background: var(--color-sub);
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}
.hamburger-menu:not(.collapsed) .bar-top {
  transform: rotate(45deg) translateY(-5px) translateX(4px);
}
.hamburger-menu:not(.collapsed) .bar-middle {
  transform:translateX(1rem);
  opacity: 0;
}
.hamburger-menu:not(.collapsed) .bar-bottom {
  transform: rotate(-45deg) translateY(4px) translateX(5px);
}
